@page "/expenseclaimoverview"
@using KakaoExpenseClaim.ClaimManagement.App.Components
<h3>Expense Claim Overview</h3>

<br />

<div class="row">
    <div class="col-2">
        <span>Select month</span>
        <select class="form-control" @bind="@SelectedMonth">
            <option value=""></option>
            @foreach (var month in MonthList)
            {
                <option value="@month"> @month </option>
            }
        </select>
    </div>
    <div class="col-2">
        <span>Select year</span>
        <select class="form-control" @bind="@SelectedYear">
            <option value=""></option>
            @foreach (var year in YearList)
            {
                <option value="@year"> @year</option>
            }
        </select>
    </div>
    <button @onclick="GetExpenseClaims" class="mt-4">Select Claims</button>
</div>




<br />



@if (ExpenseClaimsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Total</th>
                <th>Status</th>
                <th>Requester</th>
                <th>SubmitDate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exp in ExpenseClaimsList)
            {
                <tr>
                    <td class="ExpenseClaim-name">@exp.ExpenseClaimId </td>
                    <td class="ExpenseClaim-name">@exp.Title </td>
                    <td class="ExpenseClaim-name">@exp.TotalAmount </td>
                    <td class="ExpenseClaim-name">@exp.Status </td>
                    <td class="ExpenseClaim-name">@exp.RequesterId </td>
                    <td class="ExpenseClaim-date">@exp.SubmitDate.ToShortDateString() </td>
                    <td>
                        <a href="@($"expenseclaimdetail/{exp.ExpenseClaimId}")" class="ExpenseClaim-purchase-button btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
  
    
    <Pager PageIndex="@paginatedList.PageIndex" TotalPages=@paginatedList.TotalPages OnClick="PageIndexChanged"
           HasNextPage=@paginatedList.HasNextPage HasPreviousPage=@paginatedList.HasPreviousPage>
    </Pager>
}
